body {
  padding-top: 50px;
}

.alpscore::before {
    content: "ALPSCore";
    font-family: Verdana,Geneva,sans-serif;
    font-weight: bold;
}

.featurette {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 18px;
}

.gray {
    background-color: #eeeeee;
}

.featurette h1 {
   font-size: 64px;
   text-align: center;
}

.featurette h2 {
   text-align: center;
}

.featurette .buttons {
   margin-top: 50px;
}

.featurette .btn {
   width: 100%;
   font-size: 24px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
